--[START CLEANSING DATA]-- 

ALTER TABLE DATA_BY_MONTH ADD Date DATE
UPDATE DATA_BY_MONTH SET Date = CONVERT(DATE, CONCAT('01/', MONTH, '/', YEAR)), Discounts = ABS(Discounts), Returns = ABS(Returns) 
UPDATE DATA_BY_PRODUCT SET Discounts = ABS(Discounts), Returns = ABS(Returns)
UPDATE DATA_BY_PRODUCT SET [Product Type] = 'Unidentified' WHERE [Product Type] IS NULL

--[END CLEANSING DATA]-- 

--[START PREPARE DATA]--

--PERCENTAGE NET SALES EVERY MONTH
SELECT [Date], [NET SALES], 
ROUND([NET SALES] / SUM([Net Sales]) OVER (),4) AS [PERCENTAGE OF NET SALES]
FROM DATA_BY_MONTH

--TOP 5 NET SALES MONTH
SELECT TOP 5 MONTH, ROUND(AVG([Net Sales]),2) AS 'Net Sale'
FROM DATA_BY_MONTH
GROUP BY MONTH
ORDER BY 2 DESC

--TOP 6 MOST RETURNS EVERY YEAR
SELECT TOP 6 Date, [Total Orders], [Gross Sales], Discounts, Returns, [Net Sales], Shipping, [Total Sales]
FROM DATA_BY_MONTH
ORDER BY DENSE_RANK() OVER (PARTITION BY YEAR ORDER BY [RETURNS] DESC), Returns DESC


SELECT [Product Type] AS PRODUCT_TYPE, 
		SUM([Net Quantity]) AS NET_QUALITY, 
		SUM([Gross Sales]) GROSS_SALES, 
		SUM(Discounts) DISCOUNTS, 
		SUM(Returns) [RETURNS], 
		SUM([Total Net Sales]) TOTAL_NET_SALES
		INTO #TEMP_PRODUCT
FROM DATA_BY_PRODUCT GROUP BY [Product Type]

--TOP 5 HIGHEST NET SALES PRODUCTS
SELECT TOP 5
*
FROM #TEMP_PRODUCT WHERE PRODUCT_TYPE != 'Unidentified'
ORDER BY TOTAL_NET_SALES DESC

--TOP 5 FEWEST NET SALES PRODUCTS
SELECT TOP 5
*
FROM #TEMP_PRODUCT  WHERE PRODUCT_TYPE != 'Unidentified'
ORDER BY TOTAL_NET_SALES ASC





